/*****************************************
*
* GLOBAL STYLES
*
******************************************/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	color: #a4bad6;
}
body {
	background: #171717;
  font-family: Verdana, sans-serif;
  font-size: 9pt;
	color: #a4bad6;
  line-height: 1.2;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	scrollbar-face-color:#1A1A1A;
	scrollbar-track-color:#171717;
	scrollbar-highlight-color:#171717;
}

em {
	font-style: normal;
	font-weight: bold;
}

img {
	margin: 0;
	padding: 0;
	line-height: 1;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}
img.icon {
	height: 1em;
	min-height: 16px;
	width: auto;
	vertical-align: bottom;
}

.r:before { /* "repeated" badge class for combined messages */
	content: 'x';
}
.r {
	display: inline-block;
	min-width: 0.5em;
	font-size: 0.7em;
	padding: 0.2em 0.3em;
	line-height: 1;
	color: white;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: crimson;
	border-radius: 10px;
}

a {color: #397ea5;}
a.visited {color: #7c00e6;}
a:visited {color: #7c00e6;}
a.popt {text-decoration: none;}

/*****************************************
*
* OUTPUT NOT RELATED TO ACTUAL MESSAGES
*
******************************************/
#loading {
	position: fixed;
	width: 300px;
	height: 150px;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -75px 0 0 -150px;
}
#loading i {display: block; padding-bottom: 3px;}

#messages {
	font-size: 13px;
	padding: 3px;
	margin: 0;
	word-wrap: break-word;
}
#newMessages {
	position: fixed;
	display: block;
	bottom: 0;
	right: 0;
	padding: 8px;
	background: #202020;
	text-decoration: none;
    font-variant: small-caps;
    font-size: 1.1em;
    font-weight: bold;
	color: #a4bad6;
}
#newMessages:hover {background: #171717;}
#newMessages i {vertical-align: middle; padding-left: 3px;}
#ping {
	position: fixed;
	top: 0;
	right: 135px;
	width: 45px;
	background: #202020;
	height: 30px;
	padding: 8px 0 2px 0;
}
#ping i {display: block; text-align: center;}
#ping .ms {
	display: block;
	text-align: center;
	font-size: 8pt;
	padding-top: 2px;
}
#userBar {
	position: fixed;
	top: 0;
	right: 0;
}
#userBar .subCell {
	background: #202020;
    height: 30px;
	padding: 5px 0;
	display: block;
	color: #a4bad6;
	text-decoration: none;
    line-height: 28px;
    border-top: 1px solid #171717;
}
#userBar .subCell:hover {background: #202020;}
#userBar .toggle {
	width: 45px;
    background: #202020;
    border-top: 0;
    float: right;
    text-align: center;
}
#userBar .sub {clear: both; display: none; width: 180px;}
#userBar .sub.scroll {overflow-y: scroll;}
#userBar .sub.subCell {padding: 3px 0 3px 8px; line-height: 30px; font-size: 0.9em; clear: both;}
#userBar .sub span {
	display: block;
	line-height: 30px;
	float: left;
}
#userBar .sub i {
	display: block;
	padding: 0 5px;
	font-size: 1.1em;
	width: 22px;
	text-align: center;
	line-height: 30px;
	float: right;
}
#userBar .sub input {
	position: absolute;
	padding: 7px 5px;
	width: 121px;
	line-height: 30px;
	float: left;
}
#userBar .topCell {border-top: 0;}

/* POPUPS */
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #ddd;
}
.popup .close {
	position: absolute;
	background: #aaa;
	top: 0;
	right: 0;
	color: #333;
	text-decoration: none;
	z-index: 2;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
}
.popup .close:hover {background: #999;}
.popup .head {
	background: #999;
	color: #ddd;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	border-bottom: 2px solid green;
}
.popup input {border: 1px solid #999; background: #fff; margin: 0; padding: 5px; outline: none; color: #333;}
.popup input[type=text]:hover, .popup input[type=text]:active, .popup input[type=text]:focus {border-color: green;}
.popup input[type=submit] {padding: 5px 10px; background: #999; color: #ddd; text-transform: uppercase; font-size: 0.9em; font-weight: bold;}
.popup input[type=submit]:hover, .popup input[type=submit]:focus, .popup input[type=submit]:active {background: #aaa; cursor: pointer;}

.changeFont {padding: 10px;}
.changeFont a {display: block; text-decoration: none; padding: 3px; color: #333;}
.changeFont a:hover {background: #ccc;}

.highlightPopup {padding: 10px; text-align: center;}
.highlightPopup input[type=text] {display: block; width: 215px; text-align: left; margin-top: 5px;}
.highlightPopup input.highlightColor {background-color: #FFFF00;}
.highlightPopup input.highlightTermSubmit {margin-top: 5px;}

/* ADMIN CONTEXT MENU */
.contextMenu {
	background-color: #ddd;
	position: fixed;
	margin: 2px;
	width: 150px;
}
.contextMenu a {
	display: block;
	padding: 2px 5px;
	text-decoration: none;
	color: #333;
}

.contextMenu a:hover {
	background-color: #ccc;
}

/* ADMIN FILTER MESSAGES MENU */
.filterMessages {padding: 5px;}
.filterMessages div {padding: 2px 0;}

.icon-stack {height: 1em; line-height: 1em; width: 1em; vertical-align: middle; margin-top: -2px;}


/*****************************************
*
* OUTPUT ACTUALLY RELATED TO MESSAGES
*
******************************************/

/* MOTD */
.motd {color: #a4bad6;	font-family: Verdana, sans-serif;}
.motd h1, .motd h2, .motd h3, .motd h4, .motd h5, .motd h6 {color: #a4bad6;	text-decoration: underline;}
.motd a, .motd a:link, .motd a:visited, .motd a:active, .motd a:hover {color: #a4bad6;}

/* ADD HERE FOR BOLD */
.bold, .name, .prefix, .ooc, .dooc, .looc, .adminooc, .admin, .medal, .yell {font-weight: bold;}

/* ADD HERE FOR ITALIC */
.italic, .italics {font-style: italic;}

/* OUTPUT COLORS */
.highlight {background: yellow;}

h1, h2, h3, h4, h5, h6	{color: #a4bad6;font-family: Georgia, Verdana, sans-serif;}
h1.alert, h2.alert		{color: #a4bad6;}

em						{font-style: normal;	font-weight: bold;}

.ooc					{color: #cca300;	font-weight: bold;}
.dooc					{color: #d543e9;	font-weight: bold;}
.looc 					{color: #ffde5c;	font-weight: bold;}
.adminobserverooc		{color: #0099cc;	font-weight: bold;}
.adminooc				{color: #3d5bc3;	font-weight: bold;}

/* austation -- revert DISGUSTING asay changes */
.adminsay				{color: #ff4500;	font-weight: bold;}
.admin					{color: #5975da;	font-weight: bold;}

.mentorfrom 			{color: #d34bd8;}
.mentorto				{color: #4bd84b;}
.mentorhelp				{color: #8f66ff;}

.name					{	font-weight: bold;}

.deadsay				{color: #b866ff}
.binarysay    			{color: #20c20e; background-color: #000000; display: block;}
.binarysay a  			{color: #00ff00;}
.binarysay a:active, .binarysay a:visited {color: #88ff88;}
.radio					{color: #1ecc43;}
.sciradio				{color: #c68cfa;}
.comradio				{color: #5177ff;}
.secradio				{color: #dd3535;}
.medradio				{color: #33ccff;}
.engradio				{color: #f37746;}
.suppradio				{color: #b88646;}
.servradio				{color: #4e7a1f}
.syndradio				{color: #8f4a4b;}
.centcomradio			{color: #2681a5;}
.aiprivradio			{color: #d65d95;}
.redteamradio           {color: #ff4444;}
.blueteamradio          {color: #3434fd;}

.yell					{					font-weight: bold;}

.alert					{color: #d82020;}

.emote					{	color: #8595aa; }
.selecteddna			{color: #ffffff; 	background-color: #001B1B}

.examine				{font-size: 8pt;}

.attack					{color: #e01c1c;}
.disarm					{color: #b42525;}
.passive				{color: #a00f0f;}

.userdanger				{color: #c51e1e;	font-weight: bold; font-size: 24px;}
.danger					{color: #c51e1e;}
.warning				{color: #c51e1e;	font-style: italic;}
.alertwarning           {color: #FF0000;    font-weight: bold}
.boldwarning			{color: #c51e1e;	font-style: italic;	font-weight: bold}
.announce 				{color: #c51e1e;	font-weight: bold;}
.boldannounce			{color: #c51e1e;	font-weight: bold;}
.greenannounce			{color: #059223;	font-weight: bold;}
.rose					{color: #ff5050;}
.info					{color: #6685f5;}
.notice					{color: #6685f5;}
.boldnotice				{color: #6685f5;	font-weight: bold;}
.adminnotice			{color: #6685f5;}
.adminhelp              {color: #ff0000;    font-weight: bold;}
.unconscious			{color: #a4bad6;	font-weight: bold;}
.suicide				{color: #ff5050;	font-style: italic;}
.green					{color: #059223;}
.red                    {color: #FF0000}
.blue                   {color: #215cff}
.nicegreen				{color: #059223;}
.shadowling				{color: #8e8a99;}
.cult					{color: #aa1c1c;}

.cultitalic				{color: #aa1c1c;	font-style: italic;}
.cultbold				{color: #aa1c1c; font-style: italic; font-weight: bold;}
.cultboldtalic			{color: #aa1c1c; font-weight: bold; font-size: 24px;}

.cultlarge				{color: #aa1c1c; font-weight: bold; font-size: 24px;}
.narsie					{color: #aa1c1c; font-weight: bold; font-size: 120px;}
.narsiesmall			{color: #aa1c1c; font-weight: bold; font-size: 48px;}
.colossus				{color: #7F282A; font-size: 40px;}
.hierophant				{color: #b441ee; font-weight: bold; font-style: italic;}
.hierophant_warning		{color: #c56bf1; font-style: italic;}
.purple					{color: #9956d3;}
.holoparasite			{color: #88809c;}

.revennotice			{color: #1d2953;}
.revenboldnotice		{color: #1d2953;	font-weight: bold;}
.revenbignotice			{color: #1d2953;	font-weight: bold; font-size: 24px;}
.revenminor				{color: #823abb}
.revenwarning			{color: #760fbb;	font-style: italic;}
.revendanger			{color: #760fbb;	font-weight: bold; font-size: 24px;}
.umbra					{color: #7c00e6;}
.umbra_emphasis			{color: #7c00e6;	font-weight: bold;	font-style: italic;}
.umbra_large			{color: #7c00e6; font-size: 24px; font-weight: bold; font-style: italic;}

.deconversion_message	{color: #a947ff; font-size: 24px; font-style: italic;}

.brass					{color: #BE8700;}
.heavy_brass			{color: #BE8700; font-weight: bold; font-style: italic;}
.large_brass			{color: #BE8700; font-size: 24px;}
.leader_brass			{color: #BE8700; font-size: 16px;}
.big_brass				{color: #BE8700; font-size: 24px; font-weight: bold; font-style: italic;}
.ratvar					{color: #BE8700; font-size: 48px; font-weight: bold; font-style: italic; animation: ratvarcolor 5000ms infinite;}
.alloy					{color: #42474D;}
.heavy_alloy			{color: #42474D; font-weight: bold; font-style: italic;}
.nezbere_large			{color: #42474D; font-size: 24px; font-weight: bold; font-style: italic;}
.nezbere				{color: #42474D; font-weight: bold; font-style: italic;}
.nezbere_small			{color: #42474D;}
.sevtug_large			{color: #AF0AAF; font-size: 24px; font-weight: bold; font-style: italic;}
.sevtug					{color: #AF0AAF; font-weight: bold; font-style: italic;}
.sevtug_small			{color: #AF0AAF;}
.inathneq_large			{color: #1E8CE1; font-size: 24px; font-weight: bold; font-style: italic;}
.inathneq				{color: #1E8CE1; font-weight: bold; font-style: italic;}
.inathneq_small			{color: #1E8CE1;}
.nzcrentr_large			{color: #DAAA18; font-size: 24px; font-weight: bold; font-style: italic;}
.nzcrentr				{color: #DAAA18; font-weight: bold; font-style: italic;}
.nzcrentr_small			{color: #DAAA18;}
.neovgre_large			{color: #6E001A; font-size: 24px; font-weight: bold; font-style: italic;}
.neovgre				{color: #6E001A; font-weight: bold; font-style: italic;}
.neovgre_small			{color: #6E001A;}

@keyframes ratvarcolor {
	0% { color: #0d0d0d; }
	9% { color: #BE8700; }
	18% { color: #0d0d0d; }
	27% { color: #42474D; }
	36% { color: #0d0d0d; }
	45% { color: #AF0AAF; }
	54% { color: #0d0d0d; }
	63% { color: #1E8CE1; }
	72% { color: #0d0d0d; }
	81% { color: #DAAA18; }
	90% { color: #0d0d0d; }
	100% { color: #6E001A; }
}

.newscaster				{color: #c05d5d;}
.ghostalert				{color: #6600ff;	font-style: italic; font-weight: bold;}

.alien					{color: #855d85;}
.noticealien			{color: #059223;}
.alertalien				{color: #059223;	font-weight: bold;}
.changeling				{color: #059223;	font-style: italic;}
.assimilator			{color: #059223;	font-size: 16px ; font-weight: bold;}
.alertsyndie			{color: #FF0000;	font-size: 24px ; font-weight: bold;}

.spider					{color: #8800ff;}

.interface				{color: #750e75;}

.sans					{font-family: "Comic Sans MS", cursive, sans-serif;}
.papyrus				{font-family: "Papyrus", cursive, sans-serif;}
.robot					{font-family: "Courier New", cursive, sans-serif;}

.command_headset		{font-weight: bold; font-size: 24px;}
.small					{font-size: 8px;}
.big					{font-size: 24px;}
.reallybig				{font-size: 32px;}
.extremelybig			{font-size: 40px;}
.greentext				{color: #059223;	font-size: 24px;}
.redtext				{color: #c51e1e;	font-size: 24px;}
.clowntext					{color: #ff70c1;	font-size: 24px; font-family: "Comic Sans MS", cursive, sans-serif; font-weight: bold;}
.singing				{font-family: "Trebuchet MS", cursive, sans-serif; font-style: italic;}
.his_grace				{color: #15D512;	font-family: "Courier New", cursive, sans-serif; font-style: italic;}
.hypnophrase			{color: #202020;	font-weight: bold; animation: hypnocolor 1500ms infinite;}
@keyframes hypnocolor {
	0% { color: #202020; }
	25% { color: #4b02ac; }
	50% { color: #9f41f1; }
	75% { color: #541c9c; }
	100% { color: #7adbf3; }
}

.phobia			{color: #dd0000;	font-weight: bold; animation: phobia 750ms infinite;}
@keyframes phobia {
	0% { color: #f75a5a; }
	50% { color: #dd0000; }
	100% { color: #f75a5a; }
}

.icon 					{height: 1em;	width: auto;}

.memo					{color: #638500;	text-align: center;}
.memoedit				{text-align: center;	font-size: 16px;}
.abductor				{color: #c204c2; font-style: italic;}
.mind_control			{color: #df3da9; font-size: 3; font-weight: bold; font-style: italic;}
.slime					{color: #00CED1;}
.drone					{color: #848482;}
.monkey					{color: #975032;}
.swarmer				{color: #2C75FF;}
.resonate				{color: #298F85;}

.monkeyhive				{color: #a56408;}
.monkeylead				{color: #af6805;	font-size: 2;}

.connectionClosed, .fatalError {background: red; color: white; padding: 5px;}
.connectionClosed.restored {background: green;}
.internal.boldnshit {color: #3d5bc3; font-weight: bold;}

/* HELPER CLASSES */
.text-normal {font-weight: normal; font-style: normal;}
.hidden {display: none; visibility: hidden;}

//Job Colours
.unknown {color: #cec9c1}
.assistant {color: #cccccc}
.atmospherictechnician {color: #d4a07d}
.bartender {color: #b2ceb3}
.botanist {color: #95de85}
.brigphysician {color: #b16789}
.captain {color: #ecc478}
.cargotechnician {color: #d3a372}
.chaplain {color: #8ab48c}
.chemist {color: #82bdce}
.chiefengineer {color: #cfbb72}
.chiefmedicalofficer {color: #41defa}
.clown {color: #ff83d7}
.cook {color: #a2fbb9}
.curator {color: #88c999}
.deputy {color: #eed4d4}
.detective {color: #c78b8b}
.paramedic {color: #8fbeb4}
.geneticist {color: #83bbbf}
.headofpersonnel {color: #526bf8}
.headofsecurity {color: #ec3550}
.janitor {color: #81dacb}
.lawyer {color: #c07d7d}
.medicaldoctor {color: #6cb1c5}
.mime {color: #bad3bb}
.quartermaster {color: #c79c52}
.researchdirector {color: #974ea9}
.roboticist {color: #ac71ba}
.scientist {color: #c772c7}
.securityofficer {color: #e6a3a3}
.shaftminer {color: #ce957e}
.stationengineer {color: #ebc27d}
.virologist {color: #5ac5b0}
.warden {color: #dd3944}
.centcom {color: #59d62f}
.prisoner {color: #d38a5c}
.blob {color: #ebb55a}
.corgi {color: #ECDA88}
.fox {color: #FFAE64}
.rainbow {animation: rainbowtext 1500ms infinite;}
.hierosay {animation: heriotext 1500ms infinite;}
.brassmobsay {color: #BE8700;}
.syndmob {color: #8f4a4b;}
.alienmobsay {color: #855d85;}
.cultmobsay {color: #aa1c1c;}
.slimemobsay {color: #00CED1;}

@keyframes rainbowtext {
	0% { color: #ff0000 }
	20% { color: #ffee00 }
	40% { color: #00ff15 }
	60% { color: #00ccff }
  80% { color: #3700ff }
  100% { color: #ff00f2 }
}

@keyframes heriotext {
	0% { color: #b441ee }
	50% { color: #c56bf1 }
  100% { color: #b441ee }
}

.stat_antagonist				{color: #dd3535;}
.stat_antagonist_underline			{color: #dd3535;	text-decoration: underline;}

.stat_infomation				{color: #e6a648;}
